@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 font-mono antialiased bg-terminal-bg text-terminal-text overflow-hidden;
  }

  * {
    @apply box-border;
    scrollbar-width: none; /* Firefox */
  }

  *:focus {
    @apply outline-none;
  }

  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  html, body {
    @apply overflow-x-hidden;
  }
}